td.level1{
                background-color: palegoldenrod !important;
                color: white !important;
                -webkit-print-color-adjust: exact; 
                font-weight: bold;
                text-align: center !important;
            }

            td.level2{
                background-color: gold !important;
                color: white !important;
                -webkit-print-color-adjust: exact; 
                font-weight: bold;
                text-align: center !important;
            }

            td.level3{
                background-color: orange !important;
                -webkit-print-color-adjust: exact; 
                color: white !important;
                font-weight: bold;
                text-align: center !important;
            }

            td.level4{
                background-color: darkorange !important;
                -webkit-print-color-adjust: exact; 
                color: white !important;
                font-weight: bold;
                text-align: center !important;
            }

            td.level5{
                background-color: red !important;
                color: white !important;
                -webkit-print-color-adjust: exact; 
                font-weight: bold;
                text-align: center !important;
            }
            
            .feature-box-86{
                background-color: #3fc35f !important;
            }

            .bg-color-light{
                background-color: #4ece6d !important;
            }
            .btn {
                padding: 5px 10px;
            }

            .div-center{
                margin: auto;
                width: 40%;
            }

            .header-inner.two {
                height: 130px;
            }

            .header-inner .title {
                padding: 40px 0 0 0;
            }
            .red-font{
                color: red;
                font-weight: bold;
            }

            #interpretacion{padding-top: 160px !important;}

            .sec-padding {
                padding: 50px 0 80px 0;
            }

            .recuadro{
                border: 2px solid #000000;
                text-align: justify;
                padding: 10px;
                font-weight: normal;
            }
            .textarea{
                height: 200px;
            }
            .textarea2{
                height: 150px;
            }
            .padding-up{
                padding-top: 50px;
            }


            .level1{
                background-color: palegoldenrod;
                color: white !important;
                font-weight: bold;
                text-align: center !important;
            }

            .level2{
                background-color: gold;
                color: white !important;
                font-weight: bold;
                text-align: center !important;
            }

            .level3{
                background-color: orange;
                color: white !important;
                font-weight: bold;
                text-align: center !important;
            }

            .level4{
                background-color: darkorange;
                color: white !important;
                font-weight: bold;
                text-align: center !important;
            }

            .level5{
                background-color: red;
                color: white !important;
                font-weight: bold;
                text-align: center !important;
            }

@page 
        {
            size: auto;   /* auto is the initial value */
            margin: 10mm 10mm 15mm 10mm;
            /* this affects the margin in the printer settings */
        }

        @media print{
            .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
                float: left;
            }
            .col-sm-12 {
                width: 100%;
            }
            .col-sm-11 {
                width: 91.66666666666666%;
            }
            .col-sm-10 {
                width: 83.33333333333334%;
            }
            .col-sm-9 {
                width: 75%;
            }
            .col-sm-8 {
                width: 66.66666666666666%;
            }
            .col-sm-7 {
                width: 58.333333333333336%;
            }
            .col-sm-6 {
                width: 50%;
            }
            .col-sm-5 {
                width: 41.66666666666667%;
            }
            .col-sm-4 {
                width: 33.33333333333333%;
            }
            .col-sm-3 {
                width: 25%;
            }
            .col-sm-2 {
                width: 16.666666666666664%;
            }
            .col-sm-1 {
                width: 8.333333333333332%;
            }
            body{ background-color:#FFFFFF; background-image:none; color:#000000; font-size: 10px}
            #footer{ display:none;}
            #header{ display:none;}
            #resultados{padding-top: 160px}
            #interpretacion{padding-top: 160px !important;}
            #recomendaciones{
                padding-top: 120px
            }
            .noprint{display: none}
            .sec-padding {
                padding: 0px 0 20px 0;
            }
            .title-line-4 {
                width: 34px;
                height: 2px;
                float: left;
                padding: 0px;
                margin: 0 auto 60px auto;
                background-color: #161616;
            }
            h5{
                font-size: 12px !important;
            }
            .form-group {
                margin-bottom: 5px;
            }
            .form-group {
                padding-bottom: 5px;
            }
            .form-control {
                font-size: 10px;
            }
            #observaciones2{
                padding-top: 130px;
            }
            #resultados3{
                padding-top: 30px;
            }
            .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
                padding: 6px;
                line-height: 1;
            }
            .inter3{
                padding-top: 120px
            }
            .inter4{
                padding-top: 60px
            }

            td.level1{
                background-color: palegoldenrod !important;
                color: white !important;
                -webkit-print-color-adjust: exact; 
                font-weight: bold;
                text-align: center !important;
            }

            td.level2{
                background-color: gold !important;
                color: white !important;
                -webkit-print-color-adjust: exact; 
                font-weight: bold;
                text-align: center !important;
            }

            td.level3{
                background-color: orange !important;
                -webkit-print-color-adjust: exact; 
                color: white !important;
                font-weight: bold;
                text-align: center !important;
            }

            td.level4{
                background-color: darkorange !important;
                -webkit-print-color-adjust: exact; 
                color: white !important;
                font-weight: bold;
                text-align: center !important;
            }

            td.level5{
                background-color: red !important;
                color: white !important;
                -webkit-print-color-adjust: exact; 
                font-weight: bold;
                text-align: center !important;
            }
            
            .feature-box-86{
                background-color: #3fc35f !important;
            }

            .bg-color-light{
                background-color: #4ece6d !important;
            }
            .btn {
                padding: 5px 10px;
            }

            .div-center{
                margin: auto;
                width: 40%;
            }

            .header-inner.two {
                height: 130px;
            }

            .header-inner .title {
                padding: 40px 0 0 0;
            }
            .red-font{
                color: red;
                font-weight: bold;
            }

            #interpretacion{padding-top: 160px !important;}

            .sec-padding {
                padding: 50px 0 80px 0;
            }

            .recuadro{
                border: 2px solid #000000;
                text-align: justify;
                padding: 10px;
                font-weight: normal;
            }
            .textarea{
                height: 200px;
            }
            .textarea2{
                height: 150px;
            }
            .padding-up{
                padding-top: 50px;
            }


            .level1{
                background-color: palegoldenrod;
                color: white !important;
                font-weight: bold;
                text-align: center !important;
            }

            .level2{
                background-color: gold;
                color: white !important;
                font-weight: bold;
                text-align: center !important;
            }

            .level3{
                background-color: orange;
                color: white !important;
                font-weight: bold;
                text-align: center !important;
            }

            .level4{
                background-color: darkorange;
                color: white !important;
                font-weight: bold;
                text-align: center !important;
            }

            .level5{
                background-color: red;
                color: white !important;
                font-weight: bold;
                text-align: center !important;
            }

        }